@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Gentium+Book+Basic:wght@400;700&family=Gilda+Display&family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600&family=Raleway&family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Gentium+Book+Basic:wght@400;700&family=Gilda+Display&family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&family=Raleway&family=Roboto:wght@100;300;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
	text-align: center;
}

body::-webkit-scrollbar {
	width: 2px;
	background-color: white;
}

.shadow-default {
	@apply shadow-[rgba(0,_0,_0,_0.4)_0px_30px_90px];
}
